<a href="https://colab.research.google.com/github/AnjulaMehto/AI_UCC304/blob/main/A1_PythonBasics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Q1. A class with 10 students wants to produce some information from the results of the four standard tests in Maths, Science, English and IT. Each test is out of 100 marks. The information output should be the highest, lowest and average mark for each test and the highest, lowest and average mark overall. Write a program in Python to complete this task.

In [ ]:
li=[]
sub=['Maths','Science','English','IT']
for i in sub:
    a=list(map(int,input(f'enter the {i} marks of 10 students-').split()))
    li.append(a)
high_subject=[]
low_subject=[]
average_subject=[]
for i in li:
    high_subject.append(max(i))
    low_subject.append(min(i))
    average_subject.append(sum(i)/len(i))
print(high_subject)
print(low_subject)
print(average_subject)
print('highest number-'+str(max(high_subject)))
print('lowest number-'+str(min(low_subject)))
print('average number-'+str(sum(average_subject)/len(average_subject)))

enter the Maths marks of 10 students-10 20 30 40 50 60 70 80 90 100
enter the Science marks of 10 students-10 20 30 40 50 60 70 80 90 100
enter the English marks of 10 students-10 20 30 40 50 60 70 80 90 100
enter the IT marks of 10 students-10 20 30 40 50 60 70 80 90 100
[100, 100, 100, 100]
[10, 10, 10, 10]
[55.0, 55.0, 55.0, 55.0]
highest number-100
lowest number-10
average number-55.0

Q2. Write a Python Program to input basic salary of an employee and calculate its Gross salary according to following: Basic Salary <= 10000 : HRA = 20%, DA = 80% Basic Salary <= 20000 : HRA = 25%, DA = 90% Basic Salary > 20000 : HRA = 30%, DA = 95%.

In [ ]:
basic_salary=int(input("Enter basic salary:"))
if basic_salary<=10000:
    hra=0.2*basic_salary
    da=0.8*basic_salary
    gross_salary=basic_salary+hra+da
    print('Gross Salary is:')
    print(gross_salary)
elif basic_salary<=20000:
    hra=0.25*basic_salary
    da=0.9*basic_salary
    gross_salary=basic_salary+hra+da
    print('Gross Salary is:')
    print(gross_salary)
elif basic_salary>20000:
    hra=0.3*basic_salary
    da=0.95*basic_salary
    gross_salary=basic_salary+hra+da
    print('Gross Salary is:')
    print(gross_salary)

Enter basic salary:14000
Gross Salary is:
30100.0

Q3. Write a Python program to check the validity of password input by users.
              VALIDATION:
•	At least 1 letter between [a-z] and 1 letter between [A-Z].
•	At least 1 number between [0-9].
•	At least 1 character from [$#@].
•	Minimum length 6 characters.
•	Maximum length 16 characters.

In [ ]:
import re
passwd= input("Input your password-")
x = True
while x:
    if (len(passwd)<6 or len(passwd)>12):
        break
    elif not re.search("[a-z]",passwd):
        break
    elif not re.search("[0-9]",passwd):
        break
    elif not re.search("[A-Z]",passwd):
        break
    elif not re.search("[$#@]",passwd):
        break
    else:
        print("Valid Password")
        x=False
        break
if x:
    print("Invalid Password")

Input your password-khljk;
Invalid Password

Q4. Create a list L that is defined as = [10, 20, 30, 40, 50, 60, 70, 80].
I.	WAP to add 200 and 300 to L.
II.	WAP to remove 10 and 30 from L.
III.	WAP to sort L in ascending order.
IV.	WAP to sort L in descending order.

In [ ]:
l=[10,20,30,40,50,60,70,80]
l.append(200) #part(i)
l.append(300)
print(l)
l.remove(10)  #part(ii)
l.remove(30)
print(l)
l.sort()    #part(iii)
print(l)
l.reverse()   #part(iv)
print(l)

[10, 20, 30, 40, 50, 60, 70, 80, 200, 300]
[20, 40, 50, 60, 70, 80, 200, 300]
[20, 40, 50, 60, 70, 80, 200, 300]
[300, 200, 80, 70, 60, 50, 40, 20]

Q5. D is a dictionary defined as D= {1:”One”, 2:”Two”, 3:”Three”, 4: “Four”, 5:”Five”}.
I.	WAP to add new entry in D; key=6 and value is “Six”
II.	WAP to remove key=2.
III.	WAP to check if 6 key is present in D.
IV.	WAP to count the number of elements present in D.
V.	WAP to add all the values present D.

In [ ]:
d={1:'One',2:'Two',3:'Three',4:'Four',5:'Five'}
d.update({6:'Six'}) #part (i)
print(d)
d.pop(2)  #part(ii)
print(d)
if(6 in d.keys()):  #part(iii)
    print('6 is present in dictionary')
else:
    print('Not present in dictionary')
print(len(d))   #part(iv)
print(sum(d.keys()))   #part(v)

{1: 'One', 2: 'Two', 3: 'Three', 4: 'Four', 5: 'Five', 6: 'Six'}
{1: 'One', 3: 'Three', 4: 'Four', 5: 'Five', 6: 'Six'}
6 is present in dictionary
5
19

Q6. WAP to create a list of 100 random numbers between 100 and 900. Count and print the:
I.	All odd numbers
II.	All even numbers
III.	All prime numbers

In [ ]:
import random
l=[random.randint(100,900) for _ in range(100)]
print(l)
odd=[]
even=[]
prime1=[]
def prime(n):
    for i in range(2,n//2+1):
        if(n%i==0):
            return False
    return True
for i in l:
    if(i%2==0):
        even.append(i)
    if(i%2==1):
        odd.append(i)
for i in odd:
    if(prime(i)):
        prime1.append(i)
print(odd)
print(even)
print(prime1)
print('total odd numbers-'+str(len(odd)))
print('total even numbers-'+str(len(even)))
print('total prime numbers-'+str(len(prime1)))

[163, 834, 772, 301, 347, 524, 361, 275, 439, 352, 692, 401, 831, 682, 206, 763, 777, 478, 510, 718, 442, 531, 426, 542, 816, 285, 609, 115, 695, 408, 591, 541, 348, 540, 523, 512, 890, 402, 563, 591, 387, 226, 421, 338, 397, 657, 813, 458, 341, 124, 530, 447, 456, 475, 100, 341, 234, 576, 863, 807, 286, 694, 842, 246, 693, 591, 681, 152, 578, 687, 741, 431, 599, 571, 551, 593, 400, 743, 895, 657, 737, 520, 798, 802, 825, 830, 352, 447, 210, 232, 349, 212, 425, 456, 748, 372, 581, 475, 258, 792]
[163, 301, 347, 361, 275, 439, 401, 831, 763, 777, 531, 285, 609, 115, 695, 591, 541, 523, 563, 591, 387, 421, 397, 657, 813, 341, 447, 475, 341, 863, 807, 693, 591, 681, 687, 741, 431, 599, 571, 551, 593, 743, 895, 657, 737, 825, 447, 349, 425, 581, 475]
[834, 772, 524, 352, 692, 682, 206, 478, 510, 718, 442, 426, 542, 816, 408, 348, 540, 512, 890, 402, 226, 338, 458, 124, 530, 456, 100, 234, 576, 286, 694, 842, 246, 152, 578, 400, 520, 798, 802, 830, 352, 210, 232, 212, 456, 748, 372, 258, 792]
[163, 347, 439, 401, 541, 523, 563, 421, 397, 863, 431, 599, 571, 593, 743, 349]
total odd numbers-51
total even numbers-49
total prime numbers-16

Q7. (i) Write a function which takes principal amount, interest rate and time. This function returns compound interest. Call this function to print the output.
(ii) Save this function (as a module) in a python file and call it in another python file.

In [ ]:
def ci_func(p,r,t):
  ci=p*((1+r/100)**t)
  return ci
result=ci_func(10000,7.78,2)
print(result)

import Compound
ans=Compound.ci_func(10000,7.78,2)
print(ans)

11616.528400000001

ModuleNotFoundError: ignored

Q8. a) Make a class called Restaurant. The __init__() method for Restaurant should store two attributes: a restaurant_name and a cuisine_type. Make a method called describe_restaurant() that prints these two pieces of information, and a method called open_restaurant() that prints a message indicating that the restaurant is open. Make an instance called restaurant from your class. Print the two attributes individually, and then call both methods.
b) Make a class called User. Create two attributes called first_name and last_name, and then create several other attributes that are typically stored in a user profile. Make a method called describe_user() that prints a summary of the user’s information. Make another method called greet_user() that prints a personalized greeting to the user. Create several instances representing different users, and call both method for each user.

In [ ]:
class Restaurant:
    def __init__(self,restaurant_name,cuisine_type):
        self.restaurant_name=restaurant_name
        self.cuisine_type=cuisine_type
    def describe_restaurant(self):
        print('Name of Restaurant-'+self.restaurant_name)
        print('Type of cuisine-'+self.cuisine_type)
    def open_restaurant(self):
        print('The Restaurant is open')
restaurant=Restaurant('Menon','Fast Food')
print(restaurant.restaurant_name)
print(restaurant.cuisine_type)
restaurant.describe_restaurant()
restaurant.open_restaurant()

Menon
Fast Food
Name of Restaurant-Menon
Type of cuisine-Fast Food
The Restaurant is open

In [ ]:
class User:
    def __init__(self, first_name, last_name, username, email, location):
        self.first_name = first_name
        self.last_name = last_name
        self.username = username
        self.email = email
        self.location = location
    def describe_user(self):
        print('Name-'+self.first_name+' '+self.last_name)
        print(' Username-'+self.username)
        print(' Email-'+self.email)
        print(' Location-'+self.location)
    def greet_user(self):
        print('Welcome back,'+self.username+'!')
param = User('Paramjot', 'singh', 'parm', 'paramjot@example.com', 'singh')
param.describe_user()
param.greet_user()

ramesh = User('ramesh', 'kumar', 'rkumar', 'rkumar1@example.com', 'delhi')
ramesh.describe_user()
ramesh.greet_user()

Name-Paramjot singh
 Username-parm
 Email-paramjot@example.com
 Location-singh
Welcome back,parm!
Name-ramesh kumar
 Username-rkumar
 Email-rkumar1@example.com
 Location-delhi
Welcome back,rkumar!