<a href="https://colab.research.google.com/github/AnjulaMehto/AI_UCC304/blob/main/Creation_of_Dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Q.1 Create Dataset
import pandas as pd
mydataset = {
     'cars':["Tata", "BMW", "Ford"],
     'passing' : [3,7,2]
 }
df = pd.DataFrame(mydataset)
print(df)
print(df.loc[0])

   cars  passing
0  Tata        3
1   BMW        7
2  Ford        2
cars       Tata
passing       3
Name: 0, dtype: object

In [6]:
import pandas as pd
data ={
    'calories':[450, 450, 560],
    'duration': [20, 40, 50]
}
df=pd.DataFrame(data)
print(df)
print(df.loc[1])

   calories  duration
0       450        20
1       450        40
2       560        50
calories    450
duration     40
Name: 1, dtype: int64

In [7]:
#Pandas series
import pandas as pd
a =[1,7,2]
data1=pd.Series(a)
print(data1)

0    1
1    7
2    2
dtype: int64

In [ ]:
#Label in Pandas
import pandas as pd
a=[1,7,2]
myvar = pd.Series(a, index=["X", "Y", "Z"])
print(myvar)

X    1
Y    7
Z    2
dtype: int64

In [9]:
#Read CSV file
import pandas as pd
df=pd.read_csv('data.csv')
print(df.to_string())

     Outlook  Temp Humidity  Windy  Play
0      rainy   hot     high      0     0
1      rainy   hot     high      1     0
2   overcast   hot     high      0     1
3      sunny  mild     high      0     1
4      sunny  cool   normal      0     1
5      sunny  cool   normal      1     0
6   overcast  cool   normal      1     1
7      rainy  mild     high      0     0
8      rainy  cool   normal      0     1
9      sunny  mild   normal      0     1
10     rainy  mild   normal      1     1
11  overcast  mild     high      1     1
12  overcast   hot   normal      0     1
13     sunny  mild     high      1     0